process {
  executor='slurm'
  time = '24:00:00'
  memory = '64G'
  queue = 'largenode'
  cpus = 8
  clusterOptions = '--mail-type=END --mail-user=dnambi@fredhutch.org'
}


CMD_SBATCH="sbatch -o logs/kallisto-bustools/out_$SAMPLE.txt -e logs/kallisto-bustools/err_$SAMPLE.txt -J ${SAMPLE}_kallisto -D $BASE"